.container-home {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .container-home h1 {
    margin-bottom: 10px;
  }

.container-home p {
  font-size: 24px;
  font-weight: bold;
  color:blueviolet;
}