.container-loterias {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container-loterias h1 {
  margin-bottom: 50px;
}

#lotomania {
  height: 200px;
  padding: 10px;
}


/*media quary*/

@media (max-width: 500px) {
  #lotomania {
    height: 220px;
  }
}

@media (max-width: 450px) {
  #lotomania {
    height: 300px;
    width: 200px;
  }
}