.container-aleatorio {
    display: flex;
    width: 100%;
    
    justify-content: center;
    align-items: center;
    flex-direction: column; 
  }
.container-aleatorio h1 {
  margin-bottom: 50px;
}

